NEXT_PUBLIC_API_URL=http://localhost:5242
NEXT_PUBLIC_SUPABASE_URL=https://rrwtvnazbbbasfcxepbs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyd3R2bmF6YmJiYXNmY3hlcGJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNDg4MjIsImV4cCI6MjA5ODkyNDgyMn0.8MtKQXA-aNgDhAQ7_8RqqhqWIHopC9Vv35XhCb03e1U
NEXT_PUBLIC_SUPABASE_AUTH_COOKIE_NAME=
